<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDServerClientID</key>
	<string>771528812551-8qvq0pk8eecfavuvimtp712lt7h1h4mh.apps.googleusercontent.com</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.771528812551-bm1iml5ketm9ennfek1gqvsi4ipdhfag</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>771528812551-bm1iml5ketm9ennfek1gqvsi4ipdhfag.apps.googleusercontent.com</string>
</dict>
</plist>
