<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDServerClientID</key>
	<string>539029834135-o99ude9vhvi719lh5g2p7n5q1s97j6p7.apps.googleusercontent.com</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.539029834135-msetimil79ve3qdcqqdr3pg7kud3spgo</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>539029834135-msetimil79ve3qdcqqdr3pg7kud3spgo.apps.googleusercontent.com</string>
</dict>
</plist>
